<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput
      type="text"
      name="title"
      ngModel
      required
      #title="ngModel"
      placeholder="Title">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <!-- [(ngModel)]="enteredTitle"  -->
    <!-- [(ngModel)]="enteredContent"  -->

    <mat-form-field>
      <!-- Below using ngModel for 2 ways binding feature -->
      <textarea
      matInput
      rows="6"
      name="content"
      ngModel
      required
      #content="ngModel"
      placeholder="Content"></textarea> <!--Target the value property of the underlying object and abind the value between the quotation marks to it; and display in the frontend? So this value right now is in TS code-->
    <!--If just the Test itself, it will look for the 'Test' properties in the component-->
    <mat-error *ngIf="content.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <button mat-raised-button
    color="primary"
    type="submit"
    >Save Post</button> <!--This listen to the event (map to the function in .ts file) click the button-->
    <!-- (click)="onAddPost()" -->
  </form>

</mat-card>


<!-- <p>{{ newPost }}</p> Return the newPost properties in the class in .ts file. This is tring interpolation, for output the content -->

